{
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

*.gorgejara.com {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  @fire host fire.gorgejara.com
  handle @fire {
    reverse_proxy firefly-core:8080
  }

  @fire-import host fire-import.gorgejara.com
  handle @fire-import {
    reverse_proxy firefly-importer:8080
  }
  
  @haos host haos.gorgejara.com
  handle @haos {
    reverse_proxy 192.168.1.174:8123 {
      header_up Host {upstream_hostport}
      header_up X-Real-IP {remote_host}
      header_up X-Forwarded-for {remote_host}
      header_up X-Forwarded-Proto {scheme}
    } 
  }

  @immich host immich.gorgejara.com
  handle @immich {
    reverse_proxy immich_server:2283
  }


  @adguard host adguard.gorgejara.com
  handle @adguard {
    reverse_proxy 192.168.1.159
  }

  @vault host vaultwarden.gorgejara.com
  handle @vault {
    reverse_proxy vaultwarden
  }
}

gorgejara.com {
  root * /usr/share/caddy
  file_server
  encode gzip
}
